# PANDAS OPERATIONS

•	pandas is a Python library for data manipulation and analysis. Think of it as Excel on steroids for code: fast, programmable, repeatable.
•	Primary use: cleaning, transforming, exploring, aggregating tabular data (CSV, SQL, Excel, JSON, parquet).
•	Learn pandas to go from raw messy data to a dataset ready for modeling or reporting.

===	Core objects and basics :1.•	Series: 1D labeled array (like a single column).2.
•	DataFrame: 2D labeled table (rows × columns)3.
•	Index: labels for rows; columns have their own Index.

In [155]:
#importing pandas
import pandas as pd
Hotel_Bookings = pd.read_csv("hotel_booking.csv")
df = pd.DataFrame( Hotel_Bookings)
print(df)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  customer_type     adr  \
0                          0       2  ...      Transient    0.00
1                          0       2  ...      Transient    0.00
2                          1       1  ...      Transient   75.00
3                          1       1  ...      Transient   75.00
4                          2       2  ...      Transient   98.00
...                      ...     ...  ...            ...     ...
119385                     5       2  ...      Transient   96.14
119386                     5       3  ...      Transient  225.43
119387                     5       2  ...      Transient  157.71
119388                     5       2  ...      Transient  104.40
119389                     7       2  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         1
...                            ...                       ...
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                              email  phone-number       credit_card
0       Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1            Andrea_Baker94@aol.com  858-637-6955  ************9157
2        Rebecca_Parker@comcast.net  652-885-2745  ************3734
3                 Laura_M@gmail.com  364-656-8427  ************5677
4                LHines@verizon.com  713-226-5883  ************5498
...                             ...           ...               ...
119385          Claudia.J@yahoo.com  403-092-5582  ************8647
119386         WAguilar@xfinity.com  238-763-0612  ************4333
119387     Mary_Morales@hotmail.com  395-518-4100  ************1821
119388      MD_Caroline@comcast.net  531-528-1017  ************7860
119389         Ariana_M@xfinity.com  422-804-6403  ************4482

[119390 rows x 36 columns]

INDEXING AND SLICING OPERATIONS :

In [156]:
# 1. Head function
a=df.head()

# 2. Tail function
b=df.tail()

# 3. Describe

c= df.describe()

# 4. shape

d = df.shape

In [157]:
print(f'\n 1.THE HEAD OF THE FILE IS :\n{a}\n')
print(f'\n 2.THE TAIL OF THE FILE IS :\n{b}\n')
print(f'\n 3.THE DESCRIBE OF THE FILE IS :\n{c}\n')
print(f'\n 4.THE SHAPE OF THE FILE IS :\n{d}\n')

 1.THE HEAD OF THE FILE IS :
          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  customer_type  \
0                        0                     0       2  ...      Transient
1                        0                     0       2  ...      Transient
2                        0                     1       1  ...      Transient
3                        0                     1       1  ...      Transient
4                        0                     2       2  ...      Transient

    adr required_car_parking_spaces total_of_special_requests  \
0   0.0                           0                         0
1   0.0                           0                         0
2  75.0                           0                         0
3  75.0                           0                         0
4  98.0                           0                         1

  reservation_status reservation_status_date            name  \
0          Check-Out              2015-07-01   Ernest Barnes
1          Check-Out              2015-07-01    Andrea Baker
2          Check-Out              2015-07-02  Rebecca Parker
3          Check-Out              2015-07-02    Laura Murray
4          Check-Out              2015-07-03     Linda Hines

                         email  phone-number       credit_card
0  Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1       Andrea_Baker94@aol.com  858-637-6955  ************9157
2   Rebecca_Parker@comcast.net  652-885-2745  ************3734
3            Laura_M@gmail.com  364-656-8427  ************5677
4           LHines@verizon.com  713-226-5883  ************5498

[5 rows x 36 columns]


 2.THE TAIL OF THE FILE IS :
             hotel  is_canceled  lead_time  arrival_date_year  \
119385  City Hotel            0         23               2017
119386  City Hotel            0        102               2017
119387  City Hotel            0         34               2017
119388  City Hotel            0        109               2017
119389  City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  customer_type     adr  \
119385                     5       2  ...      Transient   96.14
119386                     5       3  ...      Transient  225.43
119387                     5       2  ...      Transient  157.71
119388                     5       2  ...      Transient  104.40
119389                     7       2  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status reservation_status_date                name  \
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                           email  phone-number       credit_card
119385       Claudia.J@yahoo.com  403-092-5582  ************8647
119386      WAguilar@xfinity.com  238-763-0612  ************4333
119387  Mary_Morales@hotmail.com  395-518-4100  ************1821
119388   MD_Caroline@comcast.net  531-528-1017  ************7860
119389      Ariana_M@xfinity.com  422-804-6403  ************4482

[5 rows x 36 columns]


 3.THE DESCRIBE OF THE FILE IS :
         is_canceled      lead_time  arrival_date_year  \
count  119390.000000  119390.000000      119390.000000
mean        0.370416     104.011416        2016.156554
std         0.482918     106.863097           0.707476
min         0.000000       0.000000        2015.000000
25%         0.000000      18.000000        2016.000000
50%         0.000000      69.000000        2016.000000
75%         1.000000     160.000000        2017.000000
max         1.000000     737.000000        2017.000000

       arrival_date_week_number  arrival_date_day_of_month  \
count             119390.000000              119390.000000
mean                  27.165173                  15.798241
std                   13.605138                   8.780829
min                    1.000000                   1.000000
25%                   16.000000                   8.000000
50%                   28.000000                  16.000000
75%                   38.000000                  23.000000
max                   53.000000                  31.000000

       stays_in_weekend_nights  stays_in_week_nights         adults  \
count            119390.000000         119390.000000  119390.000000
mean                  0.927599              2.500302       1.856403
std                   0.998613              1.908286       0.579261
min                   0.000000              0.000000       0.000000
25%                   0.000000              1.000000       2.000000
50%                   1.000000              2.000000       2.000000
75%                   2.000000              3.000000       2.000000
max                  19.000000             50.000000      55.000000

            children         babies  is_repeated_guest  \
count  119386.000000  119390.000000      119390.000000
mean        0.103890       0.007949           0.031912
std         0.398561       0.097436           0.175767
min         0.000000       0.000000           0.000000
25%         0.000000       0.000000           0.000000
50%         0.000000       0.000000           0.000000
75%         0.000000       0.000000           0.000000
max        10.000000      10.000000           1.000000

       previous_cancellations  previous_bookings_not_canceled  \
count           119390.000000                   119390.000000
mean                 0.087118                        0.137097
std                  0.844336                        1.497437
min                  0.000000                        0.000000
25%                  0.000000                        0.000000
50%                  0.000000                        0.000000
75%                  0.000000                        0.000000
max                 26.000000                       72.000000

       booking_changes          agent      company  days_in_waiting_list  \
count    119390.000000  103050.000000  6797.000000         119390.000000
mean          0.221124      86.693382   189.266735              2.321149
std           0.652306     110.774548   131.655015             17.594721
min           0.000000       1.000000     6.000000              0.000000
25%           0.000000       9.000000    62.000000              0.000000
50%           0.000000      14.000000   179.000000              0.000000
75%           0.000000     229.000000   270.000000              0.000000
max          21.000000     535.000000   543.000000            391.000000

                 adr  required_car_parking_spaces  total_of_special_requests
count  119390.000000                119390.000000              119390.000000
mean      101.831122                     0.062518                   0.571363
std        50.535790                     0.245291                   0.792798
min        -6.380000                     0.000000                   0.000000
25%        69.290000                     0.000000                   0.000000
50%        94.575000                     0.000000                   0.000000
75%       126.000000                     0.000000                   1.000000
max      5400.000000                     8.000000                   5.000000


 4.THE SHAPE OF THE FILE IS :
(119390, 36)

In [158]:
# 5. Slicing
e = df[0:6:1]  # IT SHOWS 6 ROWS OF ALL COLUMNS

# 6. Column name

f = df["hotel"] # it shows the one specific column 

# 7. multiple columns

g = df[["hotel","stays_in_week_nights"]] #USE TWO SQUARE BLACKET

# 8. Shows Colunm + Slicing

h=df[["hotel","stays_in_week_nights"]] [0:30:2]

In [159]:
print(f"\n 5. Slicing of the Rows of Records from (0-5) : \n{e}\n")
print(f"\n 6. Show One Column of [hotel] : \n{f}\n")
print(f"\n 7. Show Multiple Columns : \n{g}\n")
print(f"\n 8. Shows Columns + Slicing : \n{h}\n")

 5. Slicing of the Rows of Records from (0-5) :
          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July
5  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1
5                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  customer_type  \
0                        0                     0       2  ...      Transient
1                        0                     0       2  ...      Transient
2                        0                     1       1  ...      Transient
3                        0                     1       1  ...      Transient
4                        0                     2       2  ...      Transient
5                        0                     2       2  ...      Transient

    adr required_car_parking_spaces total_of_special_requests  \
0   0.0                           0                         0
1   0.0                           0                         0
2  75.0                           0                         0
3  75.0                           0                         0
4  98.0                           0                         1
5  98.0                           0                         1

  reservation_status reservation_status_date              name  \
0          Check-Out              2015-07-01     Ernest Barnes
1          Check-Out              2015-07-01      Andrea Baker
2          Check-Out              2015-07-02    Rebecca Parker
3          Check-Out              2015-07-02      Laura Murray
4          Check-Out              2015-07-03       Linda Hines
5          Check-Out              2015-07-03  Jasmine Fletcher

                         email  phone-number       credit_card
0  Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1       Andrea_Baker94@aol.com  858-637-6955  ************9157
2   Rebecca_Parker@comcast.net  652-885-2745  ************3734
3            Laura_M@gmail.com  364-656-8427  ************5677
4           LHines@verizon.com  713-226-5883  ************5498
5      JFletcher43@xfinity.com  190-271-6743  ************9263

[6 rows x 36 columns]


 6. Show One Column of [hotel] :
0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object


 7. Show Multiple Columns :
               hotel  stays_in_week_nights
0       Resort Hotel                     0
1       Resort Hotel                     0
2       Resort Hotel                     1
3       Resort Hotel                     1
4       Resort Hotel                     2
...              ...                   ...
119385    City Hotel                     5
119386    City Hotel                     5
119387    City Hotel                     5
119388    City Hotel                     5
119389    City Hotel                     7

[119390 rows x 2 columns]


 8. Shows Columns + Slicing :
           hotel  stays_in_week_nights
0   Resort Hotel                     0
2   Resort Hotel                     1
4   Resort Hotel                     2
6   Resort Hotel                     2
8   Resort Hotel                     3
10  Resort Hotel                     4
12  Resort Hotel                     4
14  Resort Hotel                     4
16  Resort Hotel                     4
18  Resort Hotel                     1
20  Resort Hotel                     4
22  Resort Hotel                     4
24  Resort Hotel                     5
26  Resort Hotel                     5
28  Resort Hotel                     5

In [160]:
# 9. USE OF Iter() : it shows individual records
#for i in df.iterrows():
 #   print(i)

# loc and iloc Functions :

In Pandas, loc and iloc are the primary tools used to select specific rows and columns from a DataFrame.

The easiest way to remember the difference is:

loc is label-based (uses names).

iloc is integer-based (uses index numbers).

# 1. loc (Label-based Selection)
Definition: loc stands for "location." it allows you to access a group of rows and columns by their labels (the names you see at the top of columns or the side of rows).

Syntax: df.loc[row_label, column_label]

In [161]:
# loc operations  >>> ROWS ARE DEFINE AS NUMBERS AND COLUMNS ARE DEFINED AS NAMES
# 1. Show the first row 
z = df.loc[1]

# 2. show row number + column name

x = df.loc[5,['hotel']]

# 3. slicing shows 10 rows

y = df.loc[0:10]

# 4. slicing + column name

v = df.loc[0:10 , "hotel"]

# 5.show multiple  slicing + column name

t = df.loc[0:10 , ['lead_time' , 'arrival_date_year']]

# 6. shows slicing + between columns using :(colon)

r = df.loc[0:10,'hotel' : 'arrival_date_year']

In [162]:
print(f'\n 1.shows the one row : \n{z}\n')
print(f'\n 2.shows the  row + column name : \n{x}\n')
print(f'\n 3.slicing shows 10 rows : \n{y}\n')
print(f'\n 4. slicing + column name : \n{z}\n')
print(f'\n 5.show multiple  slicing + column name : \n{z}\n')
print(f'\n 6. shows slicing + between columns using :(colon): \n{z}\n')

 1.shows the one row :
hotel                                       Resort Hotel
is_canceled                                            0
lead_time                                            737
arrival_date_year                                   2015
arrival_date_month                                  July
arrival_date_week_number                              27
arrival_date_day_of_month                              1
stays_in_weekend_nights                                0
stays_in_week_nights                                   0
adults                                                 2
children                                             0.0
babies                                                 0
meal                                                  BB
country                                              PRT
market_segment                                    Direct
distribution_channel                              Direct
is_repeated_guest                                      0
previous_cancellations                                 0
previous_bookings_not_canceled                         0
reserved_room_type                                     C
assigned_room_type                                     C
booking_changes                                        4
deposit_type                                  No Deposit
agent                                                NaN
company                                              NaN
days_in_waiting_list                                   0
customer_type                                  Transient
adr                                                  0.0
required_car_parking_spaces                            0
total_of_special_requests                              0
reservation_status                             Check-Out
reservation_status_date                       2015-07-01
name                                        Andrea Baker
email                             Andrea_Baker94@aol.com
phone-number                                858-637-6955
credit_card                             ************9157
Name: 1, dtype: object


 2.shows the  row + column name :
hotel    Resort Hotel
Name: 5, dtype: object


 3.slicing shows 10 rows :
           hotel  is_canceled  lead_time  arrival_date_year  \
0   Resort Hotel            0        342               2015
1   Resort Hotel            0        737               2015
2   Resort Hotel            0          7               2015
3   Resort Hotel            0         13               2015
4   Resort Hotel            0         14               2015
5   Resort Hotel            0         14               2015
6   Resort Hotel            0          0               2015
7   Resort Hotel            0          9               2015
8   Resort Hotel            1         85               2015
9   Resort Hotel            1         75               2015
10  Resort Hotel            1         23               2015

   arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
0                July                        27                          1
1                July                        27                          1
2                July                        27                          1
3                July                        27                          1
4                July                        27                          1
5                July                        27                          1
6                July                        27                          1
7                July                        27                          1
8                July                        27                          1
9                July                        27                          1
10               July                        27                          1

    stays_in_weekend_nights  stays_in_week_nights  adults  ...  customer_type  \
0                         0                     0       2  ...      Transient
1                         0                     0       2  ...      Transient
2                         0                     1       1  ...      Transient
3                         0                     1       1  ...      Transient
4                         0                     2       2  ...      Transient
5                         0                     2       2  ...      Transient
6                         0                     2       2  ...      Transient
7                         0                     2       2  ...      Transient
8                         0                     3       2  ...      Transient
9                         0                     3       2  ...      Transient
10                        0                     4       2  ...      Transient

      adr required_car_parking_spaces total_of_special_requests  \
0     0.0                           0                         0
1     0.0                           0                         0
2    75.0                           0                         0
3    75.0                           0                         0
4    98.0                           0                         1
5    98.0                           0                         1
6   107.0                           0                         0
7   103.0                           0                         1
8    82.0                           0                         1
9   105.5                           0                         0
10  123.0                           0                         0

   reservation_status reservation_status_date                   name  \
0           Check-Out              2015-07-01          Ernest Barnes
1           Check-Out              2015-07-01           Andrea Baker
2           Check-Out              2015-07-02         Rebecca Parker
3           Check-Out              2015-07-02           Laura Murray
4           Check-Out              2015-07-03            Linda Hines
5           Check-Out              2015-07-03       Jasmine Fletcher
6           Check-Out              2015-07-03           Dylan Rangel
7           Check-Out              2015-07-03          William Velez
8            Canceled              2015-05-06          Steven Murphy
9            Canceled              2015-04-22          Michael Moore
10           Canceled              2015-06-23  Priscilla Collins PhD

                          email  phone-number       credit_card
0   Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1        Andrea_Baker94@aol.com  858-637-6955  ************9157
2    Rebecca_Parker@comcast.net  652-885-2745  ************3734
3             Laura_M@gmail.com  364-656-8427  ************5677
4            LHines@verizon.com  713-226-5883  ************5498
5       JFletcher43@xfinity.com  190-271-6743  ************9263
6      Rangel.Dylan@comcast.net  420-332-5209  ************6994
7        Velez_William@mail.com  286-669-4333  ************8729
8       Steven.Murphy54@aol.com  341-726-5787  ************3639
9    MichaelMoore81@outlook.com  316-648-6176  ************9190
10      PhD.Priscilla74@att.com  833-887-7898  ************4642

[11 rows x 36 columns]


 4. slicing + column name :
hotel                                       Resort Hotel
is_canceled                                            0
lead_time                                            737
arrival_date_year                                   2015
arrival_date_month                                  July
arrival_date_week_number                              27
arrival_date_day_of_month                              1
stays_in_weekend_nights                                0
stays_in_week_nights                                   0
adults                                                 2
children                                             0.0
babies                                                 0
meal                                                  BB
country                                              PRT
market_segment                                    Direct
distribution_channel                              Direct
is_repeated_guest                                      0
previous_cancellations                                 0
previous_bookings_not_canceled                         0
reserved_room_type                                     C
assigned_room_type                                     C
booking_changes                                        4
deposit_type                                  No Deposit
agent                                                NaN
company                                              NaN
days_in_waiting_list                                   0
customer_type                                  Transient
adr                                                  0.0
required_car_parking_spaces                            0
total_of_special_requests                              0
reservation_status                             Check-Out
reservation_status_date                       2015-07-01
name                                        Andrea Baker
email                             Andrea_Baker94@aol.com
phone-number                                858-637-6955
credit_card                             ************9157
Name: 1, dtype: object


 5.show multiple  slicing + column name :
hotel                                       Resort Hotel
is_canceled                                            0
lead_time                                            737
arrival_date_year                                   2015
arrival_date_month                                  July
arrival_date_week_number                              27
arrival_date_day_of_month                              1
stays_in_weekend_nights                                0
stays_in_week_nights                                   0
adults                                                 2
children                                             0.0
babies                                                 0
meal                                                  BB
country                                              PRT
market_segment                                    Direct
distribution_channel                              Direct
is_repeated_guest                                      0
previous_cancellations                                 0
previous_bookings_not_canceled                         0
reserved_room_type                                     C
assigned_room_type                                     C
booking_changes                                        4
deposit_type                                  No Deposit
agent                                                NaN
company                                              NaN
days_in_waiting_list                                   0
customer_type                                  Transient
adr                                                  0.0
required_car_parking_spaces                            0
total_of_special_requests                              0
reservation_status                             Check-Out
reservation_status_date                       2015-07-01
name                                        Andrea Baker
email                             Andrea_Baker94@aol.com
phone-number                                858-637-6955
credit_card                             ************9157
Name: 1, dtype: object


 6. shows slicing + between columns using :(colon):
hotel                                       Resort Hotel
is_canceled                                            0
lead_time                                            737
arrival_date_year                                   2015
arrival_date_month                                  July
arrival_date_week_number                              27
arrival_date_day_of_month                              1
stays_in_weekend_nights                                0
stays_in_week_nights                                   0
adults                                                 2
children                                             0.0
babies                                                 0
meal                                                  BB
country                                              PRT
market_segment                                    Direct
distribution_channel                              Direct
is_repeated_guest                                      0
previous_cancellations                                 0
previous_bookings_not_canceled                         0
reserved_room_type                                     C
assigned_room_type                                     C
booking_changes                                        4
deposit_type                                  No Deposit
agent                                                NaN
company                                              NaN
days_in_waiting_list                                   0
customer_type                                  Transient
adr                                                  0.0
required_car_parking_spaces                            0
total_of_special_requests                              0
reservation_status                             Check-Out
reservation_status_date                       2015-07-01
name                                        Andrea Baker
email                             Andrea_Baker94@aol.com
phone-number                                858-637-6955
credit_card                             ************9157
Name: 1, dtype: object

# 2. iloc (Integer-based Selection)
Definition: iloc stands for "integer location." It allows you to access data by its positional index (0, 1, 2, etc.), just like you would with a standard Python list.

Syntax: df.iloc[row_index, column_index]

In [163]:
# iloc operations >> ROWS ARE DEFINED AS NUMBERS AND COLUMNS ARE DEFINED AS NUMBERS

# 1 SHOWS ONE ROW AND COLUMN 

m = df.iloc[1,4]  # it  shows fist row of 4th column

# 2. slicing

# iloc[row-start : row stop , col_start : col_stop]

n = df.iloc[0:4,0:4] # it shows 1st 0-4 rows records and 1st 0-4 column records


# 3. slicing +coulumn number

l = df.iloc[0:4,1] # it shows 1st col of 0-4 rows

# 4. shows the multiple rows 
k = df.iloc[[1,2,3,4]]

# 5. shows the multiple columns 

j = df.iloc[ : ,[2,3]] # it shows 2,3 columns

# 6.slicing + columns

h = df.iloc[0:10 ,[1,2,3,4]]

In [164]:
print(f'\n 1. SHOWS ONE ROW AND COLUMN \n It  shows fist row of 4th column :\n{m}\n')
print(f'\n 2. slicing \n It shows 1st 0-4 rows records and 1st 0-4 column records :\n{n}\n')
print(f'\n 3. slicing +coulumn number \n It shows 1st col of 0-4 rows : \n {l}\n')
print(f'\n 4. shows the multiple rows : \n{k}\n')
print(f'\n 5. shows the multiple columns \n  It shows 2,3 columns :\n {j}\n')
print(f'\n  6.6.slicing + columns : \n {h} \n ')

 1. SHOWS ONE ROW AND COLUMN
 It  shows fist row of 4th column :
July


 2. slicing
 It shows 1st 0-4 rows records and 1st 0-4 column records :
          hotel  is_canceled  lead_time  arrival_date_year
0  Resort Hotel            0        342               2015
1  Resort Hotel            0        737               2015
2  Resort Hotel            0          7               2015
3  Resort Hotel            0         13               2015


 3. slicing +coulumn number
 It shows 1st col of 0-4 rows :
 0    0
1    0
2    0
3    0
Name: is_canceled, dtype: int64


 4. shows the multiple rows :
          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  customer_type  \
1                        0                     0       2  ...      Transient
2                        0                     1       1  ...      Transient
3                        0                     1       1  ...      Transient
4                        0                     2       2  ...      Transient

    adr required_car_parking_spaces total_of_special_requests  \
1   0.0                           0                         0
2  75.0                           0                         0
3  75.0                           0                         0
4  98.0                           0                         1

  reservation_status reservation_status_date            name  \
1          Check-Out              2015-07-01    Andrea Baker
2          Check-Out              2015-07-02  Rebecca Parker
3          Check-Out              2015-07-02    Laura Murray
4          Check-Out              2015-07-03     Linda Hines

                        email  phone-number       credit_card
1      Andrea_Baker94@aol.com  858-637-6955  ************9157
2  Rebecca_Parker@comcast.net  652-885-2745  ************3734
3           Laura_M@gmail.com  364-656-8427  ************5677
4          LHines@verizon.com  713-226-5883  ************5498

[4 rows x 36 columns]


 5. shows the multiple columns
  It shows 2,3 columns :
         lead_time  arrival_date_year
0             342               2015
1             737               2015
2               7               2015
3              13               2015
4              14               2015
...           ...                ...
119385         23               2017
119386        102               2017
119387         34               2017
119388        109               2017
119389        205               2017

[119390 rows x 2 columns]


  6.6.slicing + columns :
    is_canceled  lead_time  arrival_date_year arrival_date_month
0            0        342               2015               July
1            0        737               2015               July
2            0          7               2015               July
3            0         13               2015               July
4            0         14               2015               July
5            0         14               2015               July
6            0          0               2015               July
7            0          9               2015               July
8            1         85               2015               July
9            1         75               2015               July

 # SORTING THE DATAFRAMES :

In [165]:
# 1  ASCENDING VALUES
q = df.sort_values("lead_time") # It shoes ascending order based on column name

# 2 . Dscending order

w = df.sort_values("lead_time",ascending = False)

# 3.sort multiple columns

r = df.sort_values(["lead_time","arrival_date_year"])


# 4. sort values in form [0,1]
#What will the result look like?
#The resulting DataFrame o will show:
#The longest wait times at the very top (e.g., a lead time of 700 days).
#If multiple bookings have a lead time of 700 days, the one from the earliest year (e.g., 2015) will appear before the later years (e.g., 2017).

o = df.sort_values (["lead_time","arrival_date_year"],ascending =[False,True])

In [166]:
print(f'\n 1. Sorting the Ascending values : \n{q}\n')
print(f'\n 2. Sorting the Descending values : \n{w}\n')
print(f'\n 3. Sorting the Multiple columns values : \n{r}\n')
print (f'\n 4. sort values in form [0,1] : \n{o}\n')

 1. Sorting the Ascending values :
               hotel  is_canceled  lead_time  arrival_date_year  \
93639     City Hotel            0          0               2016
109367    City Hotel            0          0               2017
85641     City Hotel            0          0               2016
31987   Resort Hotel            0          0               2017
16114   Resort Hotel            0          0               2015
...              ...          ...        ...                ...
65235     City Hotel            1        629               2017
65231     City Hotel            1        629               2017
65245     City Hotel            1        629               2017
4182    Resort Hotel            0        709               2016
1       Resort Hotel            0        737               2015

       arrival_date_month  arrival_date_week_number  \
93639                July                        30
109367              April                        14
85641               March                        12
31987             January                         2
16114              August                        33
...                   ...                       ...
65235               March                        13
65231               March                        13
65245               March                        13
4182             February                         9
1                    July                        27

        arrival_date_day_of_month  stays_in_weekend_nights  \
93639                          23                        0
109367                          8                        1
85641                          18                        0
31987                          13                        0
16114                          13                        0
...                           ...                      ...
65235                          30                        0
65231                          30                        0
65245                          30                        0
4182                           25                        8
1                               1                        0

        stays_in_week_nights  adults  ...  customer_type     adr  \
93639                      1       1  ...      Transient  101.18
109367                     1       1  ...      Transient  150.00
85641                      1       1  ...      Transient   64.40
31987                      1       2  ...      Transient   48.00
16114                      2       2  ...      Transient  192.00
...                      ...     ...  ...            ...     ...
65235                      1       1  ...      Transient   59.00
65231                      1       1  ...      Transient   59.00
65245                      2       2  ...      Transient   62.00
4182                      20       2  ...      Transient   68.00
1                          0       2  ...      Transient    0.00

       required_car_parking_spaces total_of_special_requests  \
93639                            0                         0
109367                           0                         0
85641                            0                         0
31987                            0                         1
16114                            0                         0
...                            ...                       ...
65235                            0                         0
65231                            0                         0
65245                            0                         0
4182                             0                         0
1                                0                         0

       reservation_status reservation_status_date             name  \
93639           Check-Out              2016-07-24      Sara Foster
109367          Check-Out              2017-04-10     Lori Aguirre
85641           Check-Out              2016-03-19     Dean Harding
31987           Check-Out              2017-01-14     Judith Lucas
16114           Check-Out              2015-08-15      John Medina
...                   ...                     ...              ...
65235            Canceled              2015-10-21  Kathryn Stewart
65231            Canceled              2015-10-21   Peter Morrison
65245            Canceled              2015-10-21    Kenneth Adams
4182            Check-Out              2016-03-24         Lisa Ray
1               Check-Out              2015-07-01     Andrea Baker

                             email  phone-number       credit_card
93639       SaraFoster@comcast.net  810-261-6158  ************9261
109367    Aguirre_Lori@comcast.net  133-111-3017  ************7086
85641         Dean.Harding@att.com  481-815-9727  ************2806
31987           Judith.L@gmail.com  587-706-8468  ************6653
16114             John.M@yahoo.com  222-841-5949  ************3169
...                            ...           ...               ...
65235   KathrynStewart@comcast.net  549-360-2517  ************3350
65231          Peter_M@comcast.net  594-478-7290  ************1758
65245    Kenneth.Adams@verizon.com  967-070-1205  ************9163
4182             Lisa.Ray@mail.com  776-936-2345  ************5990
1           Andrea_Baker94@aol.com  858-637-6955  ************9157

[119390 rows x 36 columns]


 2. Sorting the Descending values :
              hotel  is_canceled  lead_time  arrival_date_year  \
1      Resort Hotel            0        737               2015
4182   Resort Hotel            0        709               2016
65240    City Hotel            1        629               2017
65249    City Hotel            1        629               2017
65245    City Hotel            1        629               2017
...             ...          ...        ...                ...
85725    City Hotel            0          0               2016
85726    City Hotel            0          0               2016
85758    City Hotel            0          0               2016
85759    City Hotel            0          0               2016
20017  Resort Hotel            0          0               2016

      arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
1                   July                        27                          1
4182            February                         9                         25
65240              March                        13                         30
65249              March                        13                         30
65245              March                        13                         30
...                  ...                       ...                        ...
85725              March                        13                         20
85726              March                        13                         20
85758              March                        13                         20
85759              March                        13                         20
20017            January                         3                         12

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
1                            0                     0       2  ...
4182                         8                    20       2  ...
65240                        0                     2       2  ...
65249                        0                     2       2  ...
65245                        0                     2       2  ...
...                        ...                   ...     ...  ...
85725                        1                     0       2  ...
85726                        1                     0       1  ...
85758                        1                     0       2  ...
85759                        1                     0       2  ...
20017                        0                     1       2  ...

         customer_type    adr required_car_parking_spaces  \
1            Transient    0.0                           0
4182         Transient   68.0                           0
65240        Transient   62.0                           0
65249        Transient   62.0                           0
65245        Transient   62.0                           0
...                ...    ...                         ...
85725        Transient  139.0                           0
85726        Transient  150.0                           0
85758        Transient  134.0                           0
85759  Transient-Party  129.0                           0
20017        Transient   43.0                           0

      total_of_special_requests reservation_status reservation_status_date  \
1                             0          Check-Out              2015-07-01
4182                          0          Check-Out              2016-03-24
65240                         0           Canceled              2015-10-21
65249                         0           Canceled              2015-10-21
65245                         0           Canceled              2015-10-21
...                         ...                ...                     ...
85725                         0          Check-Out              2016-03-21
85726                         0          Check-Out              2016-03-21
85758                         2          Check-Out              2016-03-21
85759                         0          Check-Out              2016-03-21
20017                         0          Check-Out              2016-01-13

                  name                          email  phone-number  \
1         Andrea Baker         Andrea_Baker94@aol.com  858-637-6955
4182          Lisa Ray              Lisa.Ray@mail.com  776-936-2345
65240    Andrea Curtis     AndreaCurtis98@verizon.com  458-994-6768
65249      Erika Henry            ErikaHenry@mail.com  707-233-6485
65245    Kenneth Adams      Kenneth.Adams@verizon.com  967-070-1205
...                ...                            ...           ...
85725     Joshua Hines  Joshua_Hines24@protonmail.com  522-317-4440
85726    Catherine Lin      Lin_Catherine@hotmail.com  683-764-1618
85758  Michael Mercado          Michael.M@verizon.com  363-579-0373
85759      Anna Watson               AWatson@zoho.com  278-164-7854
20017   Deanna Meadows        Deanna.Meadows@zoho.com  879-293-4813

            credit_card
1      ************9157
4182   ************5990
65240  ************2062
65249  ************5882
65245  ************9163
...                 ...
85725  ************2072
85726  ************2526
85758  ************4439
85759  ************4801
20017  ************4191

[119390 rows x 36 columns]


 3. Sorting the Multiple columns values :
              hotel  is_canceled  lead_time  arrival_date_year  \
6      Resort Hotel            0          0               2015
18     Resort Hotel            0          0               2015
56     Resort Hotel            0          0               2015
57     Resort Hotel            0          0               2015
58     Resort Hotel            0          0               2015
...             ...          ...        ...                ...
65252    City Hotel            1        629               2017
65253    City Hotel            1        629               2017
65254    City Hotel            1        629               2017
4182   Resort Hotel            0        709               2016
1      Resort Hotel            0        737               2015

      arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
6                   July                        27                          1
18                  July                        27                          1
56                  July                        27                          2
57                  July                        27                          2
58                  July                        27                          2
...                  ...                       ...                        ...
65252              March                        13                         30
65253              March                        13                         30
65254              March                        13                         30
4182            February                         9                         25
1                   July                        27                          1

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
6                            0                     2       2  ...
18                           0                     1       2  ...
56                           0                     1       2  ...
57                           0                     1       2  ...
58                           0                     1       2  ...
...                        ...                   ...     ...  ...
65252                        0                     2       2  ...
65253                        0                     2       2  ...
65254                        0                     2       2  ...
4182                         8                    20       2  ...
1                            0                     0       2  ...

       customer_type     adr required_car_parking_spaces  \
6          Transient  107.00                           0
18         Transient  107.42                           0
56         Transient  147.00                           0
57         Transient  117.90                           0
58         Transient  123.00                           0
...              ...     ...                         ...
65252      Transient   62.00                           0
65253      Transient   62.00                           0
65254      Transient   62.00                           0
4182       Transient   68.00                           0
1          Transient    0.00                           0

      total_of_special_requests reservation_status reservation_status_date  \
6                             0          Check-Out              2015-07-03
18                            0          Check-Out              2015-07-02
56                            0          Check-Out              2015-07-03
57                            2          Check-Out              2015-07-03
58                            0          Check-Out              2015-07-03
...                         ...                ...                     ...
65252                         0           Canceled              2015-10-21
65253                         0           Canceled              2015-10-21
65254                         0           Canceled              2015-10-21
4182                          0          Check-Out              2016-03-24
1                             0          Check-Out              2015-07-01

                   name                         email  phone-number  \
6          Dylan Rangel      Rangel.Dylan@comcast.net  420-332-5209
18     Curtis Rodriguez        CRodriguez@verizon.com  466-424-2102
56       Reginald Russo  Russo.Reginald65@comcast.net  765-624-6051
57      William Sanchez      William.Sanchez@mail.com  120-215-7905
58           Diane Rose     Diane.Rose@protonmail.com  362-196-5800
...                 ...                           ...           ...
65252     John Williams            John_W@hotmail.com  792-060-3286
65253       Scott Villa            Scott.V83@mail.com  263-408-1230
65254       Alex Harmon        AlexHarmon81@gmail.com  671-776-2133
4182           Lisa Ray             Lisa.Ray@mail.com  776-936-2345
1          Andrea Baker        Andrea_Baker94@aol.com  858-637-6955

            credit_card
6      ************6994
18     ************1179
56     ************1221
57     ************2923
58     ************7251
...                 ...
65252  ************1633
65253  ************5222
65254  ************7708
4182   ************5990
1      ************9157

[119390 rows x 36 columns]


 4. sort values in form [0,1] :
               hotel  is_canceled  lead_time  arrival_date_year  \
1       Resort Hotel            0        737               2015
4182    Resort Hotel            0        709               2016
65231     City Hotel            1        629               2017
65235     City Hotel            1        629               2017
65237     City Hotel            1        629               2017
...              ...          ...        ...                ...
119137    City Hotel            0          0               2017
119138    City Hotel            0          0               2017
119151    City Hotel            0          0               2017
119166    City Hotel            0          0               2017
119270    City Hotel            0          0               2017

       arrival_date_month  arrival_date_week_number  \
1                    July                        27
4182             February                         9
65231               March                        13
65235               March                        13
65237               March                        13
...                   ...                       ...
119137             August                        35
119138             August                        34
119151             August                        35
119166             August                        35
119270             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
1                               1                        0
4182                           25                        8
65231                          30                        0
65235                          30                        0
65237                          30                        0
...                           ...                      ...
119137                         29                        0
119138                         23                        2
119151                         29                        0
119166                         30                        0
119270                         29                        0

        stays_in_week_nights  adults  ...  customer_type    adr  \
1                          0       2  ...      Transient    0.0
4182                      20       2  ...      Transient   68.0
65231                      1       1  ...      Transient   59.0
65235                      1       1  ...      Transient   59.0
65237                      2       2  ...      Transient   62.0
...                      ...     ...  ...            ...    ...
119137                     1       2  ...      Transient  140.0
119138                     5       2  ...      Transient  112.1
119151                     1       2  ...      Transient  270.0
119166                     1       1  ...      Transient  140.0
119270                     3       2  ...      Transient  135.0

       required_car_parking_spaces total_of_special_requests  \
1                                0                         0
4182                             0                         0
65231                            0                         0
65235                            0                         0
65237                            0                         0
...                            ...                       ...
119137                           0                         0
119138                           0                         0
119151                           0                         0
119166                           0                         0
119270                           0                         2

       reservation_status reservation_status_date                name  \
1               Check-Out              2015-07-01        Andrea Baker
4182            Check-Out              2016-03-24            Lisa Ray
65231            Canceled              2015-10-21      Peter Morrison
65235            Canceled              2015-10-21     Kathryn Stewart
65237            Canceled              2015-10-21        Sarah Harper
...                   ...                     ...                 ...

# MANUPULATING DATAFRAME

..ADDING Columns

In [167]:
#1. adding one column

s = df["DATA SET ADDED"]= "DATA"

# 2. add new column with exiting cloumns can be concate 

h = df["DATA SET"]= df["hotel"].astype(str) + df["arrival_date_month"].astype(str) +df["name"].astype(str)

In [168]:

print( f'\n 1. adding one column : \n{s}\n')
print(f'\n 2. add new column with exiting cloumns can be concate  : \n{h}\n')

 1. adding one column :
DATA


 2. add new column with exiting cloumns can be concate  :
0              Resort HotelJulyErnest Barnes
1               Resort HotelJulyAndrea Baker
2             Resort HotelJulyRebecca Parker
3               Resort HotelJulyLaura Murray
4                Resort HotelJulyLinda Hines
                         ...
119385       City HotelAugustClaudia Johnson
119386        City HotelAugustWesley Aguilar
119387          City HotelAugustMary Morales
119388    City HotelAugustCaroline Conley MD
119389        City HotelAugustAriana Michael
Length: 119390, dtype: object

..REMOVEING COLUMN

In [169]:
# 1. remove column
ja = df.drop(columns='email')

# 2. remove perminantly

#ia = df.drop(columns ='customer_type',inplace = True)

# 3. remove multiple columns
g = df.drop(columns=['credit_card', 'stays_in_weekend_nights', 'is_canceled'])

In [170]:
print ( f'\n 1. remove column \n{ja}\n')
#print ( f'\n2. remove perminantly \n {ia}\n')
print(f'\n 3. remove multiple columns \n {g}\n')

 1. remove column
               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...     adr  \
0                          0       2  ...    0.00
1                          0       2  ...    0.00
2                          1       1  ...   75.00
3                          1       1  ...   75.00
4                          2       2  ...   98.00
...                      ...     ...  ...     ...
119385                     5       2  ...   96.14
119386                     5       3  ...  225.43
119387                     5       2  ...  157.71
119388                     5       2  ...  104.40
119389                     7       2  ...  151.20

        required_car_parking_spaces total_of_special_requests  \
0                                 0                         0
1                                 0                         0
2                                 0                         0
3                                 0                         0
4                                 0                         1
...                             ...                       ...
119385                            0                         0
119386                            0                         2
119387                            0                         4
119388                            0                         0
119389                            0                         2

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

        phone-number       credit_card  DATA SET ADDED  \
0       669-792-1661  ************4322            DATA
1       858-637-6955  ************9157            DATA
2       652-885-2745  ************3734            DATA
3       364-656-8427  ************5677            DATA
4       713-226-5883  ************5498            DATA
...              ...               ...             ...
119385  403-092-5582  ************8647            DATA
119386  238-763-0612  ************4333            DATA
119387  395-518-4100  ************1821            DATA
119388  531-528-1017  ************7860            DATA
119389  422-804-6403  ************4482            DATA

                                  DATA SET
0            Resort HotelJulyErnest Barnes
1             Resort HotelJulyAndrea Baker
2           Resort HotelJulyRebecca Parker
3             Resort HotelJulyLaura Murray
4              Resort HotelJulyLinda Hines
...                                    ...
119385     City HotelAugustClaudia Johnson
119386      City HotelAugustWesley Aguilar
119387        City HotelAugustMary Morales
119388  City HotelAugustCaroline Conley MD
119389      City HotelAugustAriana Michael

[119390 rows x 37 columns]


 3. remove multiple columns
                hotel  lead_time  arrival_date_year arrival_date_month  \
0       Resort Hotel        342               2015               July
1       Resort Hotel        737               2015               July
2       Resort Hotel          7               2015               July
3       Resort Hotel         13               2015               July
4       Resort Hotel         14               2015               July
...              ...        ...                ...                ...
119385    City Hotel         23               2017             August
119386    City Hotel        102               2017             August
119387    City Hotel         34               2017             August
119388    City Hotel        109               2017             August
119389    City Hotel        205               2017             August

        arrival_date_week_number  arrival_date_day_of_month  \
0                             27                          1
1                             27                          1
2                             27                          1
3                             27                          1
4                             27                          1
...                          ...                        ...
119385                        35                         30
119386                        35                         31
119387                        35                         31
119388                        35                         31
119389                        35                         29

        stays_in_week_nights  adults  children  babies  ...     adr  \
0                          0       2       0.0       0  ...    0.00
1                          0       2       0.0       0  ...    0.00
2                          1       1       0.0       0  ...   75.00
3                          1       1       0.0       0  ...   75.00
4                          2       2       0.0       0  ...   98.00
...                      ...     ...       ...     ...  ...     ...
119385                     5       2       0.0       0  ...   96.14
119386                     5       3       0.0       0  ...  225.43
119387                     5       2       0.0       0  ...  157.71
119388                     5       2       0.0       0  ...  104.40
119389                     7       2       0.0       0  ...  151.20

       required_car_parking_spaces total_of_special_requests  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         1
...                            ...                       ...
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status  reservation_status_date                name  \
0               Check-Out               2015-07-01       Ernest Barnes
1               Check-Out               2015-07-01        Andrea Baker
2               Check-Out               2015-07-02      Rebecca Parker
3               Check-Out               2015-07-02        Laura Murray
4               Check-Out               2015-07-03         Linda Hines
...                   ...                      ...                 ...
119385          Check-Out               2017-09-06     Claudia Johnson
119386          Check-Out               2017-09-07      Wesley Aguilar
119387          Check-Out               2017-09-07        Mary Morales
119388          Check-Out               2017-09-07  Caroline Conley MD
119389          Check-Out               2017-09-07      Ariana Michael

                              email  phone-number DATA SET ADDED  \
0       Ernest.Barnes31@outlook.com  669-792-1661           DATA
1            Andrea_Baker94@aol.com  858-637-6955           DATA
2        Rebecca_Parker@comcast.net  652-885-2745           DATA
3                 Laura_M@gmail.com  364-656-8427           DATA
4                LHines@verizon.com  713-226-5883           DATA
...                             ...           ...            ...
119385          Claudia.J@yahoo.com  403-092-5582           DATA
119386         WAguilar@xfinity.com  238-763-0612           DATA
119387     Mary_Morales@hotmail.com  395-518-4100           DATA
119388      MD_Caroline@comcast.net  531-528-1017           DATA
119389         Ariana_M@xfinity.com  422-804-6403           DATA

                                  DATA SET
0            Resort HotelJulyErnest Barnes
1             Resort HotelJulyAndrea Baker
2           Resort HotelJulyRebecca Parker
3             Resort HotelJulyLaura Murray
4              Resort HotelJulyLinda Hines
...                                    ...
119385     City HotelAugustClaudia Johnson
119386      City HotelAugustWesley Aguilar
119387        City HotelAugustMary Morales
119388  City HotelAugustCaroline Conley MD
119389      City HotelAugustAriana Michael

[119390 rows x 35 columns]

 # REMOVING DUPLICATES

In [171]:
# 1.Knowing Duplicates
va = df.duplicated()

# 2. REMOVING DUPLICATES

aa = df.drop_duplicates()

# 3. remove duplicates permenent

bb = df.drop_duplicates(inplace = True)

In [172]:
print(f'1.Knowing Duplicates : \n {va}\n')
print(f' 2. REMOVING DUPLICATES :\n{aa}\n')
print(f' 3. remove duplicates permenent : \n {bb} \n')

1.Knowing Duplicates :
 0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Length: 119390, dtype: bool

 2. REMOVING DUPLICATES :
               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  required_car_parking_spaces  \
0                          0       2  ...                            0
1                          0       2  ...                            0
2                          1       1  ...                            0
3                          1       1  ...                            0
4                          2       2  ...                            0
...                      ...     ...  ...                          ...
119385                     5       2  ...                            0
119386                     5       3  ...                            0
119387                     5       2  ...                            0
119388                     5       2  ...                            0
119389                     7       2  ...                            0

        total_of_special_requests reservation_status reservation_status_date  \
0                               0          Check-Out              2015-07-01
1                               0          Check-Out              2015-07-01
2                               0          Check-Out              2015-07-02
3                               0          Check-Out              2015-07-02
4                               1          Check-Out              2015-07-03
...                           ...                ...                     ...
119385                          0          Check-Out              2017-09-06
119386                          2          Check-Out              2017-09-07
119387                          4          Check-Out              2017-09-07
119388                          0          Check-Out              2017-09-07
119389                          2          Check-Out              2017-09-07

                      name                        email  phone-number  \
0            Ernest Barnes  Ernest.Barnes31@outlook.com  669-792-1661
1             Andrea Baker       Andrea_Baker94@aol.com  858-637-6955
2           Rebecca Parker   Rebecca_Parker@comcast.net  652-885-2745
3             Laura Murray            Laura_M@gmail.com  364-656-8427
4              Linda Hines           LHines@verizon.com  713-226-5883
...                    ...                          ...           ...
119385     Claudia Johnson          Claudia.J@yahoo.com  403-092-5582
119386      Wesley Aguilar         WAguilar@xfinity.com  238-763-0612
119387        Mary Morales     Mary_Morales@hotmail.com  395-518-4100
119388  Caroline Conley MD      MD_Caroline@comcast.net  531-528-1017
119389      Ariana Michael         Ariana_M@xfinity.com  422-804-6403

             credit_card  DATA SET ADDED                            DATA SET
0       ************4322            DATA       Resort HotelJulyErnest Barnes
1       ************9157            DATA        Resort HotelJulyAndrea Baker
2       ************3734            DATA      Resort HotelJulyRebecca Parker
3       ************5677            DATA        Resort HotelJulyLaura Murray
4       ************5498            DATA         Resort HotelJulyLinda Hines
...                  ...             ...                                 ...
119385  ************8647            DATA     City HotelAugustClaudia Johnson
119386  ************4333            DATA      City HotelAugustWesley Aguilar
119387  ************1821            DATA        City HotelAugustMary Morales
119388  ************7860            DATA  City HotelAugustCaroline Conley MD
119389  ************4482            DATA      City HotelAugustAriana Michael

[119390 rows x 38 columns]

 3. remove duplicates permenent :
 None

 # HANDLING MISSING DATA

In [173]:
# 1.Removing Missing Data
ff = df.dropna()

# 2. perminante
ss = df.dropna(inplace = True)

In [174]:
print (f'\n 1.Removing Missing Data :\n {ff}\n')
print(f'\n 2.permenant remove : \n {ss}\n')

 1.Removing Missing Data :
                hotel  is_canceled  lead_time  arrival_date_year  \
2392    Resort Hotel            0          6               2015
2697    Resort Hotel            0         24               2015
2867    Resort Hotel            0         24               2015
2877    Resort Hotel            0         24               2015
2878    Resort Hotel            0         24               2015
...              ...          ...        ...                ...
112499    City Hotel            0         13               2017
113046    City Hotel            0         13               2017
113082    City Hotel            0         13               2017
113627    City Hotel            0        210               2017
116451    City Hotel            0        191               2017

       arrival_date_month  arrival_date_week_number  \
2392              October                        42
2697              October                        44
2867             November                        45
2877             November                        45
2878             November                        45
...                   ...                       ...
112499                May                        21
113046                May                        22
113082                May                        22
113627               June                        23
116451               July                        29

        arrival_date_day_of_month  stays_in_weekend_nights  \
2392                           11                        2
2697                           26                        7
2867                            3                        0
2877                            3                        2
2878                            3                        3
...                           ...                      ...
112499                         24                        0
113046                         29                        1
113082                         29                        1
113627                          9                        0
116451                         16                        2

        stays_in_week_nights  adults  ...  required_car_parking_spaces  \
2392                       0       2  ...                            1
2697                      15       1  ...                            0
2867                       3       2  ...                            0
2877                      10       1  ...                            0
2878                      10       2  ...                            0
...                      ...     ...  ...                          ...
112499                     1       2  ...                            0
113046                     3       1  ...                            0
113082                     3       2  ...                            0
113627                     1       2  ...                            0
116451                     2       2  ...                            0

        total_of_special_requests reservation_status reservation_status_date  \
2392                            1          Check-Out              2015-10-13
2697                            0          Check-Out              2015-11-17
2867                            0          Check-Out              2015-11-06
2877                            0          Check-Out              2015-11-15
2878                            0          Check-Out              2015-11-16
...                           ...                ...                     ...
112499                          1          Check-Out              2017-05-25
113046                          0          Check-Out              2017-06-02
113082                          0          Check-Out              2017-06-02
113627                          0          Check-Out              2017-06-10
116451                          2          Check-Out              2017-07-20

                            name                        email  phone-number  \
2392             Darryl Phillips  Darryl_Phillips@hotmail.com  731-360-4698
2697                 Lynn Gaines      Lynn.Gaines77@yahoo.com  866-053-4253
2867                Richard Diaz        Richard.Diaz@mail.com  836-443-4157
2877                 Karen Lynch           KarenLynch@att.com  153-365-6906
2878           Joseph Livingston      Joseph.L@protonmail.com  175-653-7050
...                          ...                          ...           ...
112499             Meghan Flores    Flores_Meghan@verizon.com  439-451-4147
113046              Jordan Olson            Jordan.O@mail.com  860-873-3107
113082           Robert Reynolds          Robert.R@yandex.com  604-257-1344
113627  Mrs. Colleen Mcdaniel MD          Mrs._MD@outlook.com  929-209-4199
116451              Jeffrey Lane   Lane.Jeffrey14@verizon.com  616-943-4805

             credit_card  DATA SET ADDED  \
2392    ************2677            DATA
2697    ************6564            DATA
2867    ************8259            DATA
2877    ************5124            DATA
2878    ************3824            DATA
...                  ...             ...
112499  ************8201            DATA
113046  ************9138            DATA
113082  ************8808            DATA
113627  ************4558            DATA
116451  ************3172            DATA

                                      DATA SET
2392        Resort HotelOctoberDarryl Phillips
2697            Resort HotelOctoberLynn Gaines
2867          Resort HotelNovemberRichard Diaz
2877           Resort HotelNovemberKaren Lynch
2878     Resort HotelNovemberJoseph Livingston
...                                        ...
112499              City HotelMayMeghan Flores
113046               City HotelMayJordan Olson
113082            City HotelMayRobert Reynolds
113627  City HotelJuneMrs. Colleen Mcdaniel MD
116451              City HotelJulyJeffrey Lane

[217 rows x 38 columns]


 2.permenant remove :
 None

..FILL WITH DEFAULT VALUES

In [175]:
df.fillna(80),df["email"].fillna(80)

(               hotel  is_canceled  lead_time  arrival_date_year  \
 2392    Resort Hotel            0          6               2015
 2697    Resort Hotel            0         24               2015
 2867    Resort Hotel            0         24               2015
 2877    Resort Hotel            0         24               2015
 2878    Resort Hotel            0         24               2015
 ...              ...          ...        ...                ...
 112499    City Hotel            0         13               2017
 113046    City Hotel            0         13               2017
 113082    City Hotel            0         13               2017
 113627    City Hotel            0        210               2017
 116451    City Hotel            0        191               2017

        arrival_date_month  arrival_date_week_number  \
 2392              October                        42
 2697              October                        44
 2867             November                        45
 2877             November                        45
 2878             November                        45
 ...                   ...                       ...
 112499                May                        21
 113046                May                        22
 113082                May                        22
 113627               June                        23
 116451               July                        29

         arrival_date_day_of_month  stays_in_weekend_nights  \
 2392                           11                        2
 2697                           26                        7
 2867                            3                        0
 2877                            3                        2
 2878                            3                        3
 ...                           ...                      ...
 112499                         24                        0
 113046                         29                        1
 113082                         29                        1
 113627                          9                        0
 116451                         16                        2

         stays_in_week_nights  adults  ...  required_car_parking_spaces  \
 2392                       0       2  ...                            1
 2697                      15       1  ...                            0
 2867                       3       2  ...                            0
 2877                      10       1  ...                            0
 2878                      10       2  ...                            0
 ...                      ...     ...  ...                          ...
 112499                     1       2  ...                            0
 113046                     3       1  ...                            0
 113082                     3       2  ...                            0
 113627                     1       2  ...                            0
 116451                     2       2  ...                            0

         total_of_special_requests reservation_status reservation_status_date  \
 2392                            1          Check-Out              2015-10-13
 2697                            0          Check-Out              2015-11-17
 2867                            0          Check-Out              2015-11-06
 2877                            0          Check-Out              2015-11-15
 2878                            0          Check-Out              2015-11-16
 ...                           ...                ...                     ...
 112499                          1          Check-Out              2017-05-25
 113046                          0          Check-Out              2017-06-02
 113082                          0          Check-Out              2017-06-02
 113627                          0          Check-Out              2017-06-10
 116451                          2          Check-Out              2017-07-20

                             name                        email  phone-number  \
 2392             Darryl Phillips  Darryl_Phillips@hotmail.com  731-360-4698
 2697                 Lynn Gaines      Lynn.Gaines77@yahoo.com  866-053-4253
 2867                Richard Diaz        Richard.Diaz@mail.com  836-443-4157
 2877                 Karen Lynch           KarenLynch@att.com  153-365-6906
 2878           Joseph Livingston      Joseph.L@protonmail.com  175-653-7050
 ...                          ...                          ...           ...
 112499             Meghan Flores    Flores_Meghan@verizon.com  439-451-4147
 113046              Jordan Olson            Jordan.O@mail.com  860-873-3107
 113082           Robert Reynolds          Robert.R@yandex.com  604-257-1344
 113627  Mrs. Colleen Mcdaniel MD          Mrs._MD@outlook.com  929-209-4199
 116451              Jeffrey Lane   Lane.Jeffrey14@verizon.com  616-943-4805

              credit_card  DATA SET ADDED  \
 2392    ************2677            DATA
 2697    ************6564            DATA
 2867    ************8259            DATA
 2877    ************5124            DATA
 2878    ************3824            DATA
 ...                  ...             ...
 112499  ************8201            DATA
 113046  ************9138            DATA
 113082  ************8808            DATA
 113627  ************4558            DATA
 116451  ************3172            DATA

                                       DATA SET
 2392        Resort HotelOctoberDarryl Phillips
 2697            Resort HotelOctoberLynn Gaines
 2867          Resort HotelNovemberRichard Diaz
 2877           Resort HotelNovemberKaren Lynch
 2878     Resort HotelNovemberJoseph Livingston
 ...                                        ...
 112499              City HotelMayMeghan Flores
 113046               City HotelMayJordan Olson
 113082            City HotelMayRobert Reynolds
 113627  City HotelJuneMrs. Colleen Mcdaniel MD
 116451              City HotelJulyJeffrey Lane

 [217 rows x 38 columns],
 2392      Darryl_Phillips@hotmail.com
 2697          Lynn.Gaines77@yahoo.com
 2867            Richard.Diaz@mail.com
 2877               KarenLynch@att.com
 2878          Joseph.L@protonmail.com
                      ...
 112499      Flores_Meghan@verizon.com
 113046              Jordan.O@mail.com
 113082            Robert.R@yandex.com
 113627            Mrs._MD@outlook.com
 116451     Lane.Jeffrey14@verizon.com
 Name: email, Length: 217, dtype: object)

# DATA FILTERING AND CONDITIONAL CHANGES

1. Simple Data Filtering
Filtering is usually done by passing a Boolean Condition (a True/False test) inside the square brackets [].

2. 2. Multiple Conditions
To filter using more than one rule, use the "Bitwise Operators":

& (AND): Both conditions must be True.

| (OR): At least one condition must be True.

Note: You must wrap each condition in parentheses ().

3. Conditional Operations (Updating Data)
Sometimes you don't just want to see the data; you want to change it based on a condition. For this, we use .loc.

Pattern: df.loc[row_condition, column_to_change] = new_value

4.5. Filtering String Data
You can filter based on parts of a word using .str.contains().

In [176]:
#  1 . less or greater than

qq = df.loc[df["adults"]<10]

# 2. with and condition

ww = df.loc[(df["adults"]<10) & (df["adults"]>10)]

# 3.STRING CONTAINS

tt = df.loc[df["name"].str.contains("i")]

# 4. Start with letter

ff = df.loc[df["name"].str.startswith("a")]

# 5. End With

gg = df.loc[df["name"].str.endswith("t")]

In [177]:
print(f' \n  1 . less or greater than:\n{qq}\n')
print(f'\n 2. with and condition :\n {ww}\n')
print(f'\n 3.STRING CONTAINS :\n {tt}\n')
print(f'\n 4. Start with letter :\n {ff}\n')
print(f'\n 5. ends with letter :\n {gg}\n')

  1 . less or greater than:
               hotel  is_canceled  lead_time  arrival_date_year  \
2392    Resort Hotel            0          6               2015
2697    Resort Hotel            0         24               2015
2867    Resort Hotel            0         24               2015
2877    Resort Hotel            0         24               2015
2878    Resort Hotel            0         24               2015
...              ...          ...        ...                ...
112499    City Hotel            0         13               2017
113046    City Hotel            0         13               2017
113082    City Hotel            0         13               2017
113627    City Hotel            0        210               2017
116451    City Hotel            0        191               2017

       arrival_date_month  arrival_date_week_number  \
2392              October                        42
2697              October                        44
2867             November                        45
2877             November                        45
2878             November                        45
...                   ...                       ...
112499                May                        21
113046                May                        22
113082                May                        22
113627               June                        23
116451               July                        29

        arrival_date_day_of_month  stays_in_weekend_nights  \
2392                           11                        2
2697                           26                        7
2867                            3                        0
2877                            3                        2
2878                            3                        3
...                           ...                      ...
112499                         24                        0
113046                         29                        1
113082                         29                        1
113627                          9                        0
116451                         16                        2

        stays_in_week_nights  adults  ...  required_car_parking_spaces  \
2392                       0       2  ...                            1
2697                      15       1  ...                            0
2867                       3       2  ...                            0
2877                      10       1  ...                            0
2878                      10       2  ...                            0
...                      ...     ...  ...                          ...
112499                     1       2  ...                            0
113046                     3       1  ...                            0
113082                     3       2  ...                            0
113627                     1       2  ...                            0
116451                     2       2  ...                            0

        total_of_special_requests reservation_status reservation_status_date  \
2392                            1          Check-Out              2015-10-13
2697                            0          Check-Out              2015-11-17
2867                            0          Check-Out              2015-11-06
2877                            0          Check-Out              2015-11-15
2878                            0          Check-Out              2015-11-16
...                           ...                ...                     ...
112499                          1          Check-Out              2017-05-25
113046                          0          Check-Out              2017-06-02
113082                          0          Check-Out              2017-06-02
113627                          0          Check-Out              2017-06-10
116451                          2          Check-Out              2017-07-20

                            name                        email  phone-number  \
2392             Darryl Phillips  Darryl_Phillips@hotmail.com  731-360-4698
2697                 Lynn Gaines      Lynn.Gaines77@yahoo.com  866-053-4253
2867                Richard Diaz        Richard.Diaz@mail.com  836-443-4157
2877                 Karen Lynch           KarenLynch@att.com  153-365-6906
2878           Joseph Livingston      Joseph.L@protonmail.com  175-653-7050
...                          ...                          ...           ...
112499             Meghan Flores    Flores_Meghan@verizon.com  439-451-4147
113046              Jordan Olson            Jordan.O@mail.com  860-873-3107
113082           Robert Reynolds          Robert.R@yandex.com  604-257-1344
113627  Mrs. Colleen Mcdaniel MD          Mrs._MD@outlook.com  929-209-4199
116451              Jeffrey Lane   Lane.Jeffrey14@verizon.com  616-943-4805

             credit_card  DATA SET ADDED  \
2392    ************2677            DATA
2697    ************6564            DATA
2867    ************8259            DATA
2877    ************5124            DATA
2878    ************3824            DATA
...                  ...             ...
112499  ************8201            DATA
113046  ************9138            DATA
113082  ************8808            DATA
113627  ************4558            DATA
116451  ************3172            DATA

                                      DATA SET
2392        Resort HotelOctoberDarryl Phillips
2697            Resort HotelOctoberLynn Gaines
2867          Resort HotelNovemberRichard Diaz
2877           Resort HotelNovemberKaren Lynch
2878     Resort HotelNovemberJoseph Livingston
...                                        ...
112499              City HotelMayMeghan Flores
113046               City HotelMayJordan Olson
113082            City HotelMayRobert Reynolds
113627  City HotelJuneMrs. Colleen Mcdaniel MD
116451              City HotelJulyJeffrey Lane

[217 rows x 38 columns]


 2. with and condition :
 Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, name, email, phone-number, credit_card, DATA SET ADDED, DATA SET]
Index: []

[0 rows x 38 columns]


 3.STRING CONTAINS :
                hotel  is_canceled  lead_time  arrival_date_year  \
2392    Resort Hotel            0          6               2015
2697    Resort Hotel            0         24               2015
2867    Resort Hotel            0         24               2015
2878    Resort Hotel            0         24               2015
2879    Resort Hotel            0         24               2015
...              ...          ...        ...                ...
104473    City Hotel            0          1               2017
105447    City Hotel            0         20               2017
111424    City Hotel            0         11               2017
111425    City Hotel            0         14               2017
113627    City Hotel            0        210               2017

       arrival_date_month  arrival_date_week_number  \
2392              October                        42
2697              October                        44
2867             November                        45
2878             November                        45
2879             November                        45
...                   ...                       ...
104473            January                         2
105447           February                         6
111424                May                        19
111425                May                        22
113627               June                        23

        arrival_date_day_of_month  stays_in_weekend_nights  \
2392                           11                        2
2697                           26                        7
2867                            3                        0
2878                            3                        3
2879                            3                        3
...                           ...                      ...
104473                         12                        0
105447                          7                        0
111424                          9                        0
111425                         30                        0
113627                          9                        0

        stays_in_week_nights  adults  ...  required_car_parking_spaces  \
2392                       0       2  ...                            1
2697                      15       1  ...                            0
2867                       3       2  ...                            0
2878                      10       2  ...                            0
2879                      10       2  ...                            0
...                      ...     ...  ...                          ...
104473                     2       2  ...                            0
105447                     2       1  ...                            0
111424                     2       1  ...                            0
111425                     3       1  ...                            0
113627                     1       2  ...                            0

        total_of_special_requests reservation_status reservation_status_date  \
2392                            1          Check-Out              2015-10-13
2697                            0          Check-Out              2015-11-17
2867                            0          Check-Out              2015-11-06
2878                            0          Check-Out              2015-11-16
2879                            0          Check-Out              2015-11-16
...                           ...                ...                     ...
104473                          0          Check-Out              2017-01-14
105447                          0          Check-Out              2017-02-09
111424                          1          Check-Out              2017-05-11
111425                          1          Check-Out              2017-06-02
113627                          0          Check-Out              2017-06-10

                            name                          email  phone-number  \
2392             Darryl Phillips    Darryl_Phillips@hotmail.com  731-360-4698
2697                 Lynn Gaines        Lynn.Gaines77@yahoo.com  866-053-4253
2867                Richard Diaz          Richard.Diaz@mail.com  836-443-4157
2878           Joseph Livingston        Joseph.L@protonmail.com  175-653-7050
2879           Michael Donaldson  Michael_Donaldson@hotmail.com  277-798-2274
...                          ...                            ...           ...
104473          Sabrina Gonzales      Sabrina_Gonzales@mail.com  219-616-2286
105447           Veronica Howard       Howard_Veronica@mail.com  715-252-1224
111424              Alexis Vance      Alexis_V41@protonmail.com  177-753-2476
111425             Patrick Lyons         Lyons_Patrick@zoho.com  144-378-9979
113627  Mrs. Colleen Mcdaniel MD            Mrs._MD@outlook.com  929-209-4199

             credit_card  DATA SET ADDED  \
2392    ************2677            DATA
2697    ************6564            DATA
2867    ************8259            DATA
2878    ************3824            DATA
2879    ************8486            DATA
...                  ...             ...
104473  ************5352            DATA
105447  ************6822            DATA
111424  ************1795            DATA
111425  ************4759            DATA
113627  ************4558            DATA

                                      DATA SET
2392        Resort HotelOctoberDarryl Phillips
2697            Resort HotelOctoberLynn Gaines
2867          Resort HotelNovemberRichard Diaz
2878     Resort HotelNovemberJoseph Livingston
2879     Resort HotelNovemberMichael Donaldson
...                                        ...
104473       City HotelJanuarySabrina Gonzales
105447       City HotelFebruaryVeronica Howard
111424               City HotelMayAlexis Vance
111425              City HotelMayPatrick Lyons
113627  City HotelJuneMrs. Colleen Mcdaniel MD

[122 rows x 38 columns]


 4. Start with letter :
 Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, name, email, phone-number, credit_card, DATA SET ADDED, DATA SET]
Index: []

[0 rows x 38 columns]


 5. ends with letter :
               hotel  is_canceled  lead_time  arrival_date_year  \
2916   Resort Hotel            0         35               2015
18246  Resort Hotel            0         37               2015
18263  Resort Hotel            0         34               2015
18298  Resort Hotel            0         31               2015
25635  Resort Hotel            0          9               2016

      arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
2916            November                        45                          6
18246           November                        46                          8
18263           November                        45                          5
18298           November                        45                          2
25635               July                        28                          4

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
2916                         4                     7       1  ...
18246                        2                     5       1  ...
18263                        2                     8       1  ...
18298                        5                    10       1  ...
25635                        1                     0       2  ...

       required_car_parking_spaces  total_of_special_requests  \
2916                             0                          0
18246                            1                          0
18263                            0                          0
18298                            0                          0
25635                            0                          0

      reservation_status reservation_status_date           name  \
2916           Check-Out              2015-11-17  Valerie Scott
18246          Check-Out              2015-11-15  Matthew Short
18263          Check-Out              2015-11-15  Karen Garrett
18298          Check-Out              2015-11-17    Kyle Wright
25635          Check-Out              2016-07-05  Shaun Bennett

                           email  phone-number       credit_card  \
2916        Valerie_S89@mail.com  895-452-8403  ************7782
18246  Matthew_Short@comcast.net  767-773-4594  ************9852
18263     Karen_G@protonmail.com  469-667-4900  ************8880
18298      Wright.Kyle@gmail.com  370-635-2205  ************2235
25635    SBennett@protonmail.com  758-161-8584  ************5238

       DATA SET ADDED                           DATA SET
2916             DATA  Resort HotelNovemberValerie Scott
18246            DATA  Resort HotelNovemberMatthew Short
18263            DATA  Resort HotelNovemberKaren Garrett
18298            DATA    Resort HotelNovemberKyle Wright
25635            DATA      Resort HotelJulyShaun Bennett

[5 rows x 38 columns]

 # CHANGING MULTIPLE CONDITIONS :

1 Using .loc for Multiple Conditions
This is the best method if you want to update values in an existing column or create a new one based on several rules joined by "AND" (&) or "OR" (|).

Rules to remember:

Each condition must be inside parentheses ().

& = All conditions must be true.

| = At least one condition must be true.

In [180]:
# Example: Create a 'Category' for bookings
# If it's a Resort Hotel AND lead_time is over 200 days
hh = df.loc[(df['hotel'] == 'Resort Hotel') & (df['lead_time'] > 200), 'Category'] = 'Long-term Resort'

# If it's a City Hotel OR the price is very high
vv = df.loc[(df['hotel'] == 'City Hotel') | (df['adr'] > 500), 'Priority'] = 'High Attention'

In [182]:
print(hh)
print(vv)

Long-term Resort
High Attention

2. Using np.select (The "Decision Tree" Approach)
If you have 3 or more different conditions and you want a different result for each, np.select is much cleaner than writing multiple .loc lines. It works like a "Switch" or "Case" statement.

In [184]:
import numpy as np

# 1. Define your list of conditions
conditions = [
    (df['lead_time'] < 7),                          # Condition 1: Last minute
    (df['lead_time'] >= 7) & (df['lead_time'] < 30), # Condition 2: Short term
    (df['lead_time'] >= 30)                         # Condition 3: Planned
]

# 2. Define the values you want for each condition
choices = ['Immediate', 'Upcoming', 'Advanced']

# 3. Apply it
bb = df['Booking_Type'] = np.select(conditions, choices, default='Unknown')

In [185]:
print(bb)

['Immediate' 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming'
 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Advanced'
 'Advanced' 'Advanced' 'Upcoming' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Upcoming' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Upcoming' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Upcoming' 'Advanced' 'Advanced' 'Upcoming' 'Advanced' 'Advanced'
 'Advanced' 'Immediate' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Upcoming' 'Advanced' 'Upcoming' 'Advanced'
 'Advanced' 'Immediate' 'Advanced' 'Upcoming' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Immediate' 'Upcoming'
 'Upcoming' 'Advanced' 'Advanced' 'Immediate' 'Upcoming' 'Upcoming'
 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Advanced'
 'Advanced' 'Upcoming' 'Advanced' 'Advanced' 'Advanced' 'Upcoming'
 'Upcoming' 'Advanced' 'Upcoming' 'Upcoming' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Upcoming' 'Upcoming' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Upcoming' 'Advanced' 'Upcoming' 'Advanced'
 'Advanced' 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming'
 'Upcoming' 'Upcoming' 'Upcoming' 'Advanced' 'Upcoming' 'Upcoming'
 'Advanced' 'Upcoming' 'Advanced' 'Advanced' 'Upcoming' 'Advanced'
 'Immediate' 'Immediate' 'Upcoming' 'Upcoming' 'Immediate' 'Upcoming'
 'Immediate' 'Upcoming' 'Upcoming' 'Immediate' 'Immediate' 'Immediate'
 'Immediate' 'Upcoming' 'Immediate' 'Immediate' 'Advanced' 'Immediate'
 'Immediate' 'Immediate' 'Immediate' 'Immediate' 'Immediate' 'Immediate'
 'Upcoming' 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Upcoming' 'Upcoming' 'Immediate' 'Immediate' 'Immediate' 'Immediate'
 'Immediate' 'Immediate' 'Immediate' 'Immediate' 'Immediate' 'Immediate'
 'Upcoming' 'Immediate' 'Immediate' 'Immediate' 'Immediate' 'Immediate'
 'Upcoming' 'Upcoming' 'Advanced' 'Upcoming' 'Immediate' 'Immediate'
 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced' 'Advanced'
 'Advanced' 'Advanced' 'Advanced' 'Upcoming' 'Upcoming' 'Upcoming'
 'Advanced' 'Immediate' 'Upcoming' 'Immediate' 'Upcoming' 'Upcoming'
 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Upcoming' 'Advanced'
 'Advanced']

In [187]:
df.head(1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reservation_status_date,name,email,phone-number,credit_card,DATA SET ADDED,DATA SET,Category,Priority,Booking_Type
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,2015-10-13,Darryl Phillips,Darryl_Phillips@hotmail.com,731-360-4698,************2677,DATA,Resort HotelOctoberDarryl Phillips,nan,nan,Immediate

3. Using .mask() and .where()
These are specialized functions for swapping values based on conditions.

.where(): Keeps the value if the condition is True, otherwise replaces it.

.mask(): Replaces the value if the condition is True.

In [191]:
# If the lead_time is less than 0, change it to 0 (useful for cleaning data)
nn = df['lead_time'] = df['lead_time'].mask(df['lead_time'] < 0, 0)

In [192]:
print(nn)

2392        6
2697       24
2867       24
2877       24
2878       24
         ...
112499     13
113046     13
113082     13
113627    210
116451    191
Name: lead_time, Length: 217, dtype: int64